*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/mediepipe/gesture_recognizer/app/build/
/mediepipe/gesture_recognizer/app/build/intermediates/javac/debug/classes/
/mediepipe/image_classification/app/build/
/mediepipe/image_classification/app/build/intermediates/javac/debug/classes/
/mediepipe/image_segmentation/category_mask/app/build/
/mediepipe/image_segmentation/category_mask/app/build/intermediates/javac/debug/classes/
/mediepipe/image_segmentation/confidence_mask/app/build/
/mediepipe/image_segmentation/confidence_mask/app/build/intermediates/javac/debug/classes/
/mediepipe/object_detection/app/build/
/mediepipe/object_detection/app/build/intermediates/javac/debug/classes/
/mediepipe/text_classification/app/build/
/mediepipe/text_classification/app/build/intermediates/javac/debug/classes/
/jenkins_linux.sh
/myTest.jks
/.idea/
